/* Found products CSS */
.result-types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 28px;
}

.result-types-found {
    padding-top: 32px;
    padding-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-size: 13px;
    font-weight: 400;
    color: #383839;
    border-bottom-color: #dfbe7f;

}

/* CSS Data table */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
}
.padding {
    padding-left: 10%
}
.results{
    width: 90%;
}

.result-items{
    margin-bottom:28px
}

/* CSS DataTable Row */

.products-list {
    border: 1px solid;
    border-color: #edeae9;
}
.products-list:hover {
    background-color: #edecf0;
}

/* Product Image */
.product-images {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.product-image-row {
    flex-direction: row;
    display: flex;
}
.product-image {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    margin-right: 16px;
    background-size: cover;
    background-color: #7f7e85;
}
/* Product info */
.td-product-info {
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.product-info {
    flex-direction: row;
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: center;
}
.product-info-box {
    flex: 1;
}

.product-info-box-top {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.product-info-box-bottom {
    font-size: 12px;
    font-weight: 400;
}

.product-info-price {
    font-size: 15px;
    font-weight: 400;
}

.crossed {
    text-decoration: line-through;
    color: #6d6e70;
}

.price-highlight {
    color: #333;
}

/* Pagination CSS */

.pagination-table {
    align-items: center;
    display: flex;
}
.select-pagination{
    margin-right: 35%;
}

.select-style {
    border: 1px solid #ccc;
    width: 160px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
}